@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  box-sizing: border-box;
}

body{
  margin:0;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  background-color: hsl(235, 18%, 26%);
  color: hsl(234, 29%, 20%);
}
button{
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px;
  border: none;
  outline: none;
  background-color:hsl(234, 29%, 20%);
  color:whitesmoke;
  font-weight: 700;
}
button:hover{
  cursor: pointer;
  background: linear-gradient( 90deg, rgba(255,85,143,1)0%, rgba(255,98,87,1)100%);
  box-shadow: 0px 13px 30px -4px rgba(255, 98, 87, 1);
}